.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  &__item {
    position: relative;

    &.active {
      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: getColor('red');

        position: absolute;
        left: 0;
        bottom: -3px;
      }
    }
  }

  &__link {
    list-style: none;

    text-decoration: none;
    text-transform: uppercase;
    color: getColor('white');
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);

    transition: color $transition;

    &:hover,
    &:focus {
      outline: none;
      color: getColor('orange-text');
    }
  }
}
